# Arquivos de ambiente virtual
venv/

# Arquivos de vídeo baixados
downloads/

# Credenciais e tokens
credenciais/

# Arquivos de cache do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de log
*.log

# Arquivos de banco de dados
*.sqlite3
*.db

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db